@mixin MiniImg{
    border-radius: 50%;
    width: 10%;
    margin: 10px;
}

@mixin btn($bgcolor: $standard){
    padding: 2%;
    border-radius: 5%;
    font-weight: bold;
    @if $bgcolor == $standard{
        color: black;
    }
    @else{
        color: white;
    }
    background-color: $bgcolor;
}


